.cursor {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999999;
  /* background-color: black; */
}
.hello {
  width: 200px;
  height: 200px;
  background-color: rgb(46, 13, 13);
  position: absolute;
  z-index: 99999999999999999;
}
.hello:before{
  background-color: red;
}
